<!-- Modal -->
<div class="modal fade" id="desactivar_tendespectro-{{a.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-bold" id="exampleModalLabel">Desactivar Equipo: {{a.id}}</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
        </div>
        <form action="{% url 'equipo_desactivar' a.id %}" enctype="multipart/form-data" method="GET" role="form">
          {% csrf_token %}
          <div class="modal-body text-left">
              Al dar clic en Aceptar, esta equipo se deshabilitara. Podrás habilitarlo desde el boton de activar.
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-danger">Aceptar</button>
          </div>
        </form>
      </div>
    </div>
  </div>